<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    {{- $styles := resources.Get "scss/style.scss" -}}
    {{- $styles = $styles | resources.ToCSS -}}
    {{- $styles = $styles | minify | fingerprint "sha512" -}}
    <link rel="stylesheet" media="all" integrity="{{- $styles.Data.Integrity -}}" href="{{- $styles.Permalink -}}">
  </head>
  <body>
    <div class="col-md-8 py-5 px-3 mx-auto">

      <header class="pb-3 mb-5 border-bottom">
        <h1>
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span>{{ .Title }}</span>
          </a>
        </h1>
      </header>

      {{ .Content }}

      <h2>Layout Debug Tests</h2>

      <div id="debug-page-context">
        <h3>Page Context</h3>
        {{ partial "debugprint.html" . }}
      </div>

    </div>

  </body>
</html>
