<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="col-md-8 py-5 px-3 mx-auto">

      <header class="pb-3 mb-5 border-bottom">
        <h1>
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span>{{ .Title }}</span>
          </a>
        </h1>
      </header>

      {{ .Content }}

      <h2>Layout Debug Tests</h2>

      <div id="debug-page-context">
        <h3>Page Context</h3>
        {{ partial "debugprint.html" . }}
      </div>

    </div>

  </body>
</html>
