{{ $MenuEntryVarNames   := (slice "ConfiguredURL" "Name" "Menu" "Identifier" "Title" "Pre" "Post" "Weight" "Parent" "Children") }}
{{ $MenuEntryVarSymbols := (slice .value.ConfiguredURL  .value.Name  .value.Menu  .value.Identifier  .value.Title
                                  .value.Pre  .value.Post  .value.Weight  .value.Parent  .value.Children ) }}
<table class="debugprint">
  <tr>
      <th class="align-top" class="key">MenuEntry Variable</th>
      <th class="align-top" class="value">Value</th>
  </tr>
  {{ range $idx, $elem := $MenuEntryVarNames }}
    {{ printf `<tr> <td class="align-top" class="key">%s</td> <td class="align-top" class="value">` $elem | safeHTML }}
    {{ partial "debugprint.html" (index $MenuEntryVarSymbols $idx) }}
    {{ printf "</td></tr>" | safeHTML }}
  {{ end }}
</table>
