{{ $OrderedTaxonomyEntryVarNames   := (slice "Name" "Count" "Term" "WeightedPages") }}
{{ $OrderedTaxonomyEntryVarSymbols := (slice .value.Name  .value.Count  .value.Term  .value.WeightedPages ) }}
<table class="debugprint">
  <tr>
      <th class="align-top" class="key">OrderedTaxonomyEntry Variable</th>
      <th class="align-top" class="value">Value</th>
  </tr>
  {{ range $idx, $elem := $OrderedTaxonomyEntryVarNames }}
    {{ printf `<tr> <td class="align-top" class="key">%s</td> <td class="align-top" class="value">` $elem | safeHTML }}
    {{ partial "debugprint.html" (index $OrderedTaxonomyEntryVarSymbols $idx) }}
    {{ printf "</td></tr>" | safeHTML }}
  {{ end }}
</table>
