{{ $OutputFormatVarNames   := (slice "Name" "MediaType" "Path" "BaseName" "Rel" "Protocol" "IsPlainText" "IsHTML" "NoUgly" "NotAlternative") }}
{{ $OutputFormatVarSymbols := (slice .value.Name  .value.MediaType  .value.Path  .value.BaseName
                                .value.Rel  .value.Protocol  .value.IsPlainText  .value.IsHTML  .NoUgly  .NotAlternative ) }}
<table class="debugprint">
  <tr>
      <th class="align-top" class="key">OutputFormat Variable</th>
      <th class="align-top" class="value">Value</th>
  </tr>
  {{ range $idx, $elem := $OutputFormatVarNames }}
    {{ printf `<tr> <td class="align-top" class="key">%s</td> <td class="align-top" class="value">` $elem | safeHTML }}
    {{ partial "debugprint.html" (index $OutputFormatVarSymbols $idx) }}
    {{ printf "</td></tr>" | safeHTML }}
  {{ end }}
</table>
