{{ $PageVarNames   := (slice "Name" "Title" "ResourceType" "Kind" "Section" "Draft" "Type" "Layout" "Permalink" "RelPermalink" "Data") }}
{{ $PageVarSymbols := (slice .value.Name  .value.Title  .value.ResourceType  .value.Kind  .value.Section  .value.Draft  .value.Type
                              .value.Layout  .value.Permalink  .value.RelPermalink  .value.Data ) }}
<table class="debugprint">
  <tr>
      <th class="align-top" class="key">Page Variable</th>
      <th class="align-top" class="value">Value</th>
  </tr>
  {{ range $idx, $elem := $PageVarNames }}
    {{ printf `<tr> <td class="align-top" class="key">%s</td> <td class="align-top" class="value">` $elem | safeHTML }}
    {{ partial "debugprint.html" (index $PageVarSymbols $idx) }}
    {{ printf "</td></tr>" | safeHTML }}
  {{ end }}
  {{ with .value.NextPage }}
    {{ printf `<tr> <td class="align-top" class="key">NextPage</td> <td class="align-top" class="value"><a href="%s">%s</a></td></tr>` .value.Permalink .value.Title | safeHTML }}
  {{ else }}
    {{ printf `<tr> <td class="align-top" class="key">NextPage</td> <td class="align-top" class="value">None</td></tr>` | safeHTML }}
  {{ end }}
  {{ with .value.PrevPage }}
    {{ printf `<tr> <td class="align-top" class="key">PrevPage</td> <td class="align-top" class="value"><a href="%s">%s</a></td></tr>` .value.Permalink .value.Title | safeHTML }}
  {{ else }}
    {{ printf `<tr> <td class="align-top" class="key">PrevPage</td> <td class="align-top" class="value">None</td></tr>` | safeHTML }}
  {{ end }}
  {{ with .value.NextInSection }}
    {{ printf `<tr> <td class="align-top" class="key">NextInSection</td> <td class="align-top" class="value"><a href="%s">%s</a></td></tr>` .value.Permalink .value.Title | safeHTML }}
  {{ else }}
    {{ printf `<tr> <td class="align-top" class="key">NextInSection</td> <td class="align-top" class="value">None</td></tr>` | safeHTML }}
  {{ end }}
  {{ with .value.PrevInSection }}
    {{ printf `<tr> <td class="align-top" class="key">PrevInSection</td> <td class="align-top" class="value"><a href="%s">%s</a></td></tr>` .value.Permalink .value.Title | safeHTML }}
  {{ else }}
    {{ printf `<tr> <td class="align-top" class="key">PrevInSection</td> <td class="align-top" class="value">None</td></tr>` | safeHTML }}
  {{ end }}
</table>
