{{ $ResourceVarNames   := (slice "Name" "Title" "ResourceType" "Permalink" "RelPermalink" "Params" "MediaType") }}
{{ $ResourceVarSymbols := (slice .value.Name  .value.Title  .value.ResourceType  .value.Permalink  .value.RelPermalink  .value.Params  .value.MediaType ) }}
<!-- There's .AbsSourceFilename too, but it's not very useful. -->
<table class="debugprint">
  <tr>
      <th class="align-top" class="key">Resource Variable</th>
      <th class="align-top" class="value">Value</th>
  </tr>
  {{ range $idx, $elem := $ResourceVarNames }}
    {{ printf `<tr> <td class="align-top" class="key">%s</td> <td class="align-top" class="value">` $elem | safeHTML }}
    {{ partial "debugprint.html" (index $ResourceVarSymbols $idx) }}
    {{ printf "</td></tr>" | safeHTML }}
  {{ end }}
</table>
