// layout
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);

// colors
$primary: #dc143c;
$theme-colors: (
  'primary':    #dc143c,
  'secondary':  $secondary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark
);

// typography
$font-family-sans-serif: "Fira Code", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-weight-normal:          300;
$font-weight-bold: 500;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;

// headings
$headings-line-height: 1.3;
$headings-font-weight: 700;
