{{- $config := site.Params.dnb.debug -}}

{{/*{{- if in site.Params.dnb.debug.ignoreErrors .slug -}}*/}}
{{/*  {{- return -}}*/}}
{{/*{{- end -}}*/}}

{{- if eq ($config.disablenote | default false) false -}}
  {{- warnf "[%s/debug-0] additional logging by dnb-org (see %s)" $config.namespace $config.loglink -}}
{{- end -}}
{{- $namespace := $config.namespace | default "dnb" -}}
{{- $severity := .severity | default "info" -}}
{{- $level := 0 -}}

{{- if eq $severity "debug" -}}
  {{- $level = 9 -}}
{{- else if eq $severity "info" -}}
  {{- $level = 7 -}}
{{- else if eq $severity "warn" -}}
  {{- $level = 5 -}}
{{- else if eq $severity "error" -}}
  {{- $level = 3 -}}
{{- else if eq $severity "fatal" -}}
  {{- $level = 1 -}}
{{- end -}}
{{- if isset . "level" -}}
  {{- $level = (int .level) -}}
{{- end -}}

{{- if le $level (int $config.debuglevel) -}}
  {{- if le $level 3 -}}
    {{- errorf (printf "[%s/%s-%v] %s" $namespace $severity $level .message) -}}
  {{- else -}}
    {{- warnf (printf "[%s/%s-%v] %s" $namespace $severity $level .message) -}}
  {{- end -}}
{{- end -}}
